HOST=127.0.0.1
PORT=3000
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=
READER_USERNAME=reader
READER_PASSWORD_HASH=
SESSION_SECRET=
MTN_CONSUMER_KEY=
MTN_CONSUMER_SECRET=
MTN_TOKEN_URL=https://api.mtn.com/v1/oauth/access_token/accesstoken
MTN_PLANS_BASE_URL=https://api.mtn.com/v2/customers
REFRESH_INTERVAL_MINUTES=15
